.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 70px 10%;
}
.title-box {
  position: relative;
}
.title-box h1 {
  padding: 0 30px;
  font-size: 60px;
  font-weight: 600;
}
.title-box img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mywork-container img {
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.mywork-container img:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 10px;
  transition: 0.3s;
}
.project-card {
  position: relative;
  overflow: hidden; /* Ensures overlay respects border-radius */
  border-radius: 10px;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
}

.project-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  transition: bottom 0.4s ease;
  border-radius: 10px; /* Apply the same border-radius */
}

.project-card:hover .project-overlay {
  bottom: 0;
}

.project-overlay p {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: border-box;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.mywork-showmore {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.6s;
  cursor: pointer;
}
.mywork-showmore img {
  width: 25px;
}
.mywork-showmore:hover {
  gap: 30px;
  transition: 0.6s;
}
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 20px;
    align-items: start;
  }
  .title-box h1 {
    padding: 0;
    font-size: 40px;
  }
  .title-box img {
    width: 130px;
    margin-right: -20px;
  }
  .mywork-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .mywork-container img {
    width: 100%;
    height: 100%;
  }
  .mywork-showmore {
    padding: 15px 30px;
    font-size: 17px;
    margin: 10px auto;
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  .project-overlay p {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .mywork-container {
    grid-template-columns: 1fr;
  }
  .project-overlay p {
    font-size: 25px;
  }
}
